<header class="page_header">
	<h3>HTML5</h3>
</header>
<section>
	<ul>
		<li>
			<meter title="USD" id="goal" value="250" min="0" max="600">
			</meter>
		</li>
		<li>
			<progress id="progressbar" min="0" max="100" value="40"></progress>
		</li>
	  <li>
			<input type="date">
		</li>
		<li>
			<input type="range" min="0" max="10" name="priority" value="0">
		</li>
	</ul>
</section>
<footer class="page_footer">
</footer>
