<div class="page_header">
  <h3>ABOUT ME</h3>
</div>
<div class="page_content">
  <ul>
    <li>毕业于浙江师范大学</li>
    <li>就职于<a href="www.ichr.com">ICHR Solutions Ltd.</a></li>
    <li>afei1231#gmail.com</li>
  </ul>

  <%= link_to 'Lifts', lifts_path %>
  <br>
  <%= link_to 'Baby', qbaby_index_path %> 
</div>
