<div class="bg">
	<div class="header">
	  <h3>ABOUT ME</h3>
	</div>
	<div class="content">
		<input type="text" name="birthdate" class="datepicker" />
	</div>
	<div class="footer">
		<span>contact me @ afei1231#gmail.com</span>
	</div>
</div>
