<header class="page_header">
	<h3>ABOUT ME</h3>
</header>
<section>
	<blockquote class="text-left">
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
		<footer>by Syed Fazil Rahman</footer>
	</blockquote>
	<div class="row">
		<div class="col-xs-4" style="background: grey">TEst</div>
		<div class="col-xs-2" style="background: red">hellow</div>
</section>
<footer class="page_footer">
	<span><a href="http://www.miitbeian.gov.cn/" target="_blank">浙ICP备15030231号-1</a>
</footer>
