<h1>Listing Records</h1>
<%= link_to 'New Record', baby_new_path %>
<table class="table table-striped">
	<tr>
		<th>Date</th>
		<th>Record Time</th>
		<th>Capacity</th>
	</tr>

	<% @babyrecords.each do |record| %>
		<tr>
			<td><%= record.datetime.localtime.strftime("%Y-%m-%d") if !record.datetime.nil? %></td>
			<td><%= record.record_time.strftime("%H:%M") if !record.record_time.nil? %></td>
			<td><%= record.capacity %></td>
		</tr>
	<% end %>
</table>


