// Place all the styles related to the ichr controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	position: relative;
	min-height: 100%;
	body{
		margin-bottom: 60px;
		.footer{
			height: 60px;
			background-color: #f8f8f8;
			vertical-align: middle;
			position: absolute;
			bottom: 0;
			width: 100%;
			.footer_img{
				padding-top: 5px;
				padding-right: 15px;
				height: 40px;
				background-size: cover;
				float: left;
			}
			span{
			}
		}
	}
}

body > .container {
	padding: 60px 15px 0;
}

.container .text-muted {
	margin: 20px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

.navbar{
	.navbar-header{
		height: 68px;
		button{
			margin-top: 17px;
		}
		.navbar-brand{
			padding: 10px 15px 10px 15px;
		}
	}
	.navbar-nav{
		line-height: 58px;
		padding-top: 10px;
	}
}

.navbar-icon{
	background-size: cover;
	height:24px;
	width:24px;
	display: inline-block;
	vertical-align: middle;
}
.payconfig{
		background-image: image-url("payconfig.png")
	}
.paydata{
	background-image: image-url("paydata.png")
}
.payrun{
	background-image: image-url("payrun.png")
}
.payreport{
	background-image: image-url("payreport.png")
}
.payhistory{
	background-image: url(asset-path('payhistory.png'))
}



