<div class="blog-masthead">
  <div class="container">
    <ul class="blog-nav">
      <%= link_to 'Home', afeil_index_path, class: 'blog-nav-item active' %>
      <%= link_to 'Blog', afeil_index_path, class: 'blog-nav-item' %>
      <%= link_to 'About Me', afeil_about_path, class: 'blog-nav-item' %>
      <%= link_to 'Lifts', lifts_path, class: 'blog-nav-item' %>
    </ul>
  </div>
</div>
