<div class="footer  navbar-static-bottom">
	<div class="container">
		<%= image_tag("logo_ichr.png", class: 'footer_img') %>
		<span>
			<h5><small>Copyright © 2009 - 2016 ICHR Solutions Group.<br>
				All Rights Reserved. Reproduction of material from any pages of this site without written permission is strictly prohibited.</small></h5>
		</span>
	</div>
</div>
