<div class="footer">
  <div class="container">
    <span>
      <h5><small>Copyright © 2009 - 2016 ICHR Solutions Group.<br>
	  All Rights Reserved. Reproduction of material from any pages of this site without written permission is strictly prohibited.</small><br>
	<a href="http://www.miitbeian.gov.cn/" target="_blank">浙ICP备15030231号-1</a>
    </h5>
    </span>
  </div>
</div>
