<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapibleMenu">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">
	<%= image_tag("mainlogo.png") %>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="collapibleMenu">
      <ul class="nav navbar-nav">
	<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" >
	  <span class="navbar-icon payconfig hidden-xs hidden-sm"></span>
	  Config
	  <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
	  <li><a href="#">Leave Match</a></li>
	  <li><a href="#">Time Match</a></li>
	  <li><a href="#">Claim Match</a></li>
	  <li role="separator" class="divider"></li>
	  <li><a href="#">Administrator</a></li>
	</ul>
	</li>
	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
	  <span class="navbar-icon paydata hidden-xs hidden-sm"></span>
	  Payroll Data<span class="caret"></span></a>
	<ul class="dropdown-menu">
	  <li><a href="#">Assign Employee</a></li>
	  <li><a href="#">Recurring Data</a></li>
	  <li><a href="#">Variable Data</a></li>
	</ul>
	</li>
	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
	  <span class="navbar-icon payrun hidden-xs hidden-sm"></span>
	  Paryoll Run<span class="caret"></span></a>
	<ul class="dropdown-menu">
	  <li><a href="#">Analysis Payroll</a></li>
	</ul>
	</li>
	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="navbar-icon payhistory hidden-xs hidden-sm"></span>
	  Adjustment<span class="caret"></span></a>
	<ul class="dropdown-menu">
	  <li><a href="#">Payroll Adjustment</a></li>
	  <li><a href="#">MPF Adjustment</a></li>
	</ul>
	</li>
	<li><a href="#"><span class="navbar-icon payreport hidden-xs hidden-sm"></span>
	  Reports</a></li>
      </ul>
    </div>
  </div>
</div>

